# Core frameworks
streamlit==1.43.1
fastapi==0.115.7
uvicorn==0.34.0
lxml

# AI & NLP
google-generativeai==0.8.4
nltk==3.9.1
yake==0.4.8
gtts==2.5.4
deep-translator==1.11.4

# Web scraping and API
requests==2.32.3
beautifulsoup4==4.12.3
python-dotenv==0.21.0
